<!DOCTYPE html>
<html>
<%-include('partials/head') %> 
  <body>
    <%-include('partials/dhmovieheader') %> 
    <section class="parteAMain">
      <article  class="losformsedit">
    <form action="/movies/create" method="POST">
      <label for="">Title</label>
      <input type="text" name="title">
      <label for="">Rating</label>
      <input type="text" name="rating">
      <label for="">Awards</label>
      <input type="number" name="awards">
      <label for="">Fecha de estreno</label>
      <input type="date" name="release_date">
      <label for="">Duración</label>
      <input type="text" name="length">
      <label for="">Género</label>
      <select name="genre_id">
        <% generos.forEach(genero => { %>
            <option value="<%= genero.id %> ">
            <%= genero.name %> </option>
        <% }) %>
      </select>

      <label for="">Actores</label>
      <select name="actores" multiple>
        <% actores.forEach(actor => { %>
            <option value="<%= actor.id %> ">
            <%= actor.first_name  + ' ' + actor.last_name %></option>
        <% }) %>
      </select>


      <input type="submit" value="Crea tu película" class="unsubmit">
    </form>
  </article>
    </section>
      <%-include('partials/footer') %> 
  </body>
</html>
