<!DOCTYPE html>
<html>
<%-include('partials/head') %> 
  <body>
    <h1><%= title %></h1>
      <section>
      <p>
        Rating: <%= pelis.rating %>
      </p>
      <p>
        Género: <%= pelis.genero == null ? 'no tiene genero' : pelis.genero.name %>
      </p>
      <p>
        Premios: <%= pelis.awards %>
      </p>
      <p>
        Duración: <%= pelis.length == null ? '' : pelis.length + " minutos" %>
      </p>
      <p>
        Premios: <%= pelis.awards %>
      </p>
      <p>
        Fecha de estreno: <%= pelis.release_date.toLocaleString("es-AR", {
          dateStyle: "short"
      }); %>
      </p>
      </section>
      <section>
        <form action="">
         <input type="submit" value="modificar">
        </form>
        <form action="">
          <input type="submit" value="borrar">
         </form>
      </section>
      <%-include('partials/footer') %> 
  </body>
</html>
