<!DOCTYPE html>
<html>
<%-include('partials/head') %> 
  <body>
    <%-include('partials/dhmovieheader') %> 
    <section class="parteMain">
    <h1 class="eltituloficha"><%= title %></h1>
      <section class="ficha">
      <p>
        Rating: <%= pelis.rating %>
      </p>
      <p>
        Género: <%= pelis.genero == null ? 'no tiene género' : pelis.genero.name %>
      </p>
      <p>
        Duración: <%= pelis.length == null ? '' : pelis.length + " minutos" %>
      </p>
      <p>
        Premios: <%= pelis.awards %>
      </p>
      <p>
        Actores: 
      <% pelis.actorPelicula.forEach(element => { %>
        <p><%= element.first_name %>   <%= element.last_name %>  </p>
      <% }) %>
      </p>
      <p>
        Fecha de estreno: <%= pelis.release_date == null ? '' : pelis.release_date.toLocaleString("es-AR", {
          dateStyle: "short"
      }); %>
      </p>
      </section>
      <section class="botones">
        <form action="/movies/edit/<%= pelis.id %>" method="GET">
         <input class="boton" type="submit" value="modificar">
        </form>
        <form  action="/movies/delete/<%= pelis.id %>?_method=DELETE" method="POST">
          <input class="boton" type="submit" value="borrar">
         </form>
      </section>
    </section>
      <%-include('partials/footer') %> 
  </body>
</html>
