<!DOCTYPE html>
<html>
<%-include('partials/head') %> 
    <body>

      <%-include('partials/dhmovieheader') %> 

      <section class="parteMain">
        <article class="losformsedit">
      <form action="/movies/edit/<%= peli.id %>?_method=PUT" method="POST">
        <label for="">Title</label>
        <input class="uninput" type="text" name="title" value="<%= peli.title %> ">
        <label  class="uninput" for="">Rating</label>
        <input  class="uninput" type="text" name="rating" value="<%= peli.rating %> ">
        <label  class="uninput" for="">Awards</label>
        <input  class="uninput" type="number" name="awards" value="<%= peli.awards %> ">
        <label  class="uninput" for="">Fecha de estreno</label>
        <input class="uninput" type="date" name="release_date" value="<%= peli.release_date %> ">
        <label class="uninput" for="">Duración</label>
        <input class="uninput" type="text" name="length" value="<%= peli.length %> ">
        <label class="uninput" for="">Género</label>
        <select class="uninput" name="genre_id">
          <% generos.forEach(genero => { %>
            <% if (peli.genre_id === genero.id) { %>
              <option value="<%= genero.id %> " selected>
              <%= genero.name %> </option>
              <%} else { %>
                <option value="<%= genero.id %> "> <%= genero.name %> </option> 
          <% }}) %>
        </select>
  
        <label for="">Actores</label>
        <select class="uninput" name="actores" multiple>
          <% actores.forEach(actor => { %>
            <% if(peli.actorPelicula.some(actorPelicula => actorPelicula.id == actor.id)) { %> 
              <option value="<%= actor.id %> " selected>
              <%= actor.first_name  + ' ' + actor.last_name %></option>
              <% } else { %>
                <option value="<%= actor.id %> ">
                  <%= actor.first_name  + ' ' + actor.last_name %></option>
                <% } %> 
          <% }) %>
        </select>
  
        <input type="submit" value="Modificá tu peli" class="unsubmit">
      </form>
    </article>
    </section>
      <%-include('partials/footer') %> 
  </body>
</html>
