<!DOCTYPE html>
<html>
<%-include('partials/head') %> 
  <body>
    <%-include('partials/dhmovieheader') %> 
    <section class="parteMain">
    <p>Bienvenidos a DH Movies el mejor sitio para encontrar las mejores
      películas, incluso mucho mejor que Netflix, Cuevana y PopCorn</p>
      <section class="listaPelis">
        <% pelis.forEach(element => { %>
          <article class="unapeli">
          <a href="movies/detail/<%= element.id%>"><%= element.title%></a>
        </article>
          <% }); %> 
      </section>
    </section>
      <%-include('partials/footer') %> 
      
  </body>
</html>
