<!DOCTYPE html>
<html>
<%-include('partials/head') %> 
  <body>
    <%-include('partials/dhmovieheader') %> 
    <section class="parteMain">
    <p class="info">Bienvenidos a DH Movies el mejor sitio para encontrar las mejores
      películas, incluso mucho mejor que Netflix, Cuevana y PopCorn</p>
      <section class="listaPelis">
        <% pelis.forEach(element => { %>
          <a class="unapeli colorpeli<%= element.genre_id %> " href="movies/detail/<%= element.id%>">   
            <%= element.title%> 
          </a>
          <% }); %> 
      </section>
    </section>
      <%-include('partials/footer') %> 
      
  </body>
</html>
