<!DOCTYPE html>
<html>
<%-include('partials/head') %> 
  <body>
    <%-include('partials/dhmovieheader') %> 
    <section class="parteMain">
      <section class="listaPelis">
        <% pelis.forEach(element => { %>
          <a class="unapeli colorpeli<%= element.genre_id %> "  href="/movies/detail/<%= element.id%>"><%= element.title%></a>
          <% }); %> 
      </section>
    </section>
      <%-include('partials/footer') %> 
  </body>
</html>
